<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MMMBCS</title>
    <link rel="stylesheet" href="__CDN__/assets/css/style.css">
    <link rel="stylesheet" href="__CDN__/assets/css/swiper-bundle.min.css">
    <script src="__CDN__/assets/js/jquery-2.2.2.min.js"></script>
    <script src="__CDN__/assets/js/swiper-bundle.min.js"></script>
</head>
<body>
   
<div class="mainbox indexbody" style="background: #feeebd">
    <div class="header">
        <div class="hl">
            <a href="/index.html" class="logo"><img src="__CDN__/assets/images/logo.png" alt=""></a>
            <span class="username">0x29******D421</span>
        </div>
        <div class="hr">
            <div class="language">
                <i class="logo_google"><img src="__CDN__/assets/images/google.png" alt=""></i>
                <span>{$lang}</span>
                <i class="icon_down"></i>
            </div>
            <a href="javascript:;" class="navicon">
                <b class="line"></b>
                <b class="line"></b>
                <b class="line"></b>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    
        <div class="languagebox" style="display: none;">
        <ul>
            <li class="cur"><a href="javascript:;" onclick="lang11('zh-cn')">>{:__("zh-cn")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("sq")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ar")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("am")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("az")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("az")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("aw")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("aml")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ga")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("et")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("al-y")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("al-m")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("eu")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("be")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bb-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bg")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("is")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("pl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bs")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fa")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bjp")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("tt")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("da")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("de")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("dw-x")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("dg-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ru")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fr")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fy")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("tl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fx-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("km")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl-j")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gu")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl-n")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kk")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ht")</a></li>
            <li><a href="javascript:;" onclick="lang11('ko')">{:__("ko")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ha")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("nl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ky")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ca")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("cs")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kn")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("co")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kl-a")</a></li>
            <li><a href="javascript:;"onclick="lang11('en')">{:__("hr")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ku")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ku-l")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("la")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lv")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lo")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lt")}</a></li>
            <li><a href="javascript:;"onclick="lang11('ja')">{:__("ja")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;"onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('zh-tw')">{:__("zh-tw")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>                
        </ul>
    </div>
    <div class="navbg"></div>

            <div class="navbox">
                <ul>
                    <li><a href="/index.html">{:__("Dashboard")}</a></li>
                    <li class="snav">
                        <div class="title_bg">
                            <a href="javascript:;">{:__("Participants")}</a>
                        </div>
                        <dl class="nav01">
                            <dd><a href="recommend.html">{:__("Referral")}</a></dd>
                        </dl>
                    </li>
                    <li class="snav">
                        <div class="title_bg">
                            <a href="javascript:;">{:__("Referral")}</a>
                        </div>
                        <dl class="nav01">
                            <dd><a href="mine.html">{:__("Referral")}</a></dd>
                            <dd><a href="letters.html">{:__("My letters of happiness")}</a></dd>
                        </dl>
                    </li>
                    <li><a href="promotion.html">{:__("Promotion")}</a></li>
                    <li><a href="mavro.html">{:__("Mavro")}</a></li>
                    <li><a href="account.html">{:__("Account")}</a></li>
                    <li><a href="message.html">{:__("News")}</a></li>
                </ul>
            </div>

            <div class="promotion">
                <div class="top">Promotion</div>
                <div class="btm">
                    <div class="bar">
                        <div class="box01">
                            <h2>{:__("Your Information")}</h2>
                            <p>{:__("Role")}：{:__("MemberMember")}</p>
                            <p>{:__("Direct Active Referrals")}：<strong>0</strong></p>
                            <p>{:__("All Active Referrals")}：<strong>0</strong></p>
                            <p>{:__("Leader test")}：<strong>{:__("unpassed")}</strong></p>
                            <p>{:__("Manager test")}：<strong>{:__("pass")}</strong></p>
                        </div>
                        <div class="box02">RoleTips1
                            <p>{:__("RoleTips1")}<span class="red">10</span><br>{:__("RoleTips2")}<span class="red">50</span>{:__("RoleTips3")}<span class="red">{:__("Leader")}</span></p>
                        </div>
                        <div class="box02">
                            <p>{:__("RoleTips1")}<span class="red">20</span><br>{:__("RoleTips2")}<span class="red">200</span>{:__("RoleTips3")}<span class="red">{:__("Manager")}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //导航
            function lang11(lang) {

                setCookie("think_var", lang);
            }
            function setCookie(name, value, seconds) {
                var expires = "";
                if (seconds) {
                    var date = new Date();
                    date.setTime(date.getTime() + (seconds * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
                location.href = "/"
            }
            $('.header .hr .language').on('click', function () {
                $('.languagebox').toggle();
            })
            $('.header .hr .navicon').on('click', function () {
                if ($('.header .hr .navicon').hasClass('hov')) {
                    $('.navbox').css('left', '-100%');
                    $('.navbg').css('display', 'none');
                    $('.header .hr .navicon').removeClass('hov');
                } else {
                    $('.navbox').css('left', '0');
                    $('.navbg').css('display', 'block');
                    $('.header .hr .navicon').addClass('hov');
                }
            })

            $('.navbox ul li.snav .title_bg').on('click', function () {
                if ($(this).hasClass('cur')) {
                    $(this).removeClass('cur');
                    $(this).siblings('.nav01').css('display', 'none');
                } else {
                    $(this).addClass('cur');
                    $(this).siblings('.nav01').css('display', 'block');
                }
            });
        </script>
    </body>
</html>