<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MMMBCS</title>
    <link rel="stylesheet" href="__CDN__/assets/css/style.css">
    <link rel="stylesheet" href="__CDN__/assets/css/swiper-bundle.min.css">
    <script src="__CDN__/assets/js/jquery-2.2.2.min.js"></script>
    <script src="__CDN__/assets/js/swiper-bundle.min.js"></script>
</head>
<body>
   
<div class="mainbox indexbody" style="background: #feeebd">
    <div class="header">
        <div class="hl">
            <a href="/index.html" class="logo"><img src="__CDN__/assets/images/logo.png" alt=""></a>
            <span class="username">0x29******D421</span>
        </div>
        <div class="hr">
            <div class="language">
                <i class="logo_google"><img src="__CDN__/assets/images/google.png" alt=""></i>
                <span>{$lang}</span>
                <i class="icon_down"></i>
            </div>
            <a href="javascript:;" class="navicon">
                <b class="line"></b>
                <b class="line"></b>
                <b class="line"></b>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    
        <div class="languagebox" style="display: none;">
        <ul>
            <li class="cur"><a href="javascript:;" onclick="lang11('zh-cn')">>{:__("zh-cn")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("sq")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ar")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("am")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("az")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("az")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("aw")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("aml")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ga")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("et")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("al-y")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("al-m")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("eu")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("be")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bb-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bg")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("is")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("pl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bs")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fa")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("bjp")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("tt")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("da")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("de")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("dw-x")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("dg-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ru")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fr")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fy")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("tl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("fx-l")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("km")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl-j")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gu")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl-n")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kk")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ht")</a></li>
            <li><a href="javascript:;" onclick="lang11('ko')">{:__("ko")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ha")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("nl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ky")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("gl")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ca")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("cs")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kn")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("co")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("kl-a")</a></li>
            <li><a href="javascript:;"onclick="lang11('en')">{:__("hr")</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ku")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("ku-l")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("la")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lv")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lo")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("lt")}</a></li>
            <li><a href="javascript:;"onclick="lang11('ja')">{:__("ja")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;"onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>
            <li><a href="javascript:;" onclick="lang11('zh-tw')">{:__("zh-tw")}</a></li>
            <li><a href="javascript:;" onclick="lang11('en')">{:__("en")}</a></li>                
        </ul>
    </div>

    <div class="recommend">
        <div class="top">
            <a href="recommend02.html" class="tj-btn">{:__("Referral")}</a>
            <a href="javascript:;" class="show-btn">{:__("Show My Referral Link")}</a>
            <div class="clearfix"></div>
        </div>
        <div class="btm">
            <table class="rec-table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>{:__("Username")}</th>
                    <th>{:__("Wallet")}</th>
                    <th>{:__("Level")}</th>
                    <th>{:__("Date of creating")}</th>
                </tr>
                <tr>
                    <td>user1</td>
                    <td>100 $</td>
                    <td>17</td>
                    <td>14/11/2022</td>
                </tr>                
            </table>
            <div class="nodata">
                No Data
            </div>
        </div>
    </div>
    
    <div class="rec-fixed-box">
        <div class="t">
            <h2>{:__("Referral Link")}</h2>
            <a href="javascript:;" class="close">&times;</a>
            <div class="clearfix"></div>
        </div>
        <div class="b">
            <select name="" id="">
                <option value="{:__("Level")}">{:__("Player Address:")}</option>
            </select>
            <div class="rec-text">
                https://app.mmmbsc.global.jetzt/home/
            </div>
            <a href="javascript:;" class="closebtn">{:__("Close")}</a>
            <div class="clearfix"></div>
        </div>        
    </div>
</div>
<script>
    //导航
    $('.header .hr .navicon').on('click', function(){
        if ($('.header .hr .navicon').hasClass('hov')) {
            $('.navbox').css('left','-100%');
            $('.navbg').css('display','none');
            $('.header .hr .navicon').removeClass('hov');
        }else{
            $('.navbox').css('left','0');
            $('.navbg').css('display','block');
            $('.header .hr .navicon').addClass('hov');
        }
    })

    $('.navbox ul li.snav .title_bg').on('click', function(){
        if($(this).hasClass('cur')){
            $(this).removeClass('cur');
            $(this).siblings('.nav01').css('display','none');
        }else{
            $(this).addClass('cur');
            $(this).siblings('.nav01').css('display','block');
        }        
    });

    $('.show-btn').on('click', function(){
        $('.rec-fixed-box').css('display','block');
        $('.navbg').css('display','block');
    })

    $('.rec-fixed-box .t .close').on('click', function(){
        $('.rec-fixed-box').css('display','none');
        $('.navbg').css('display','none');
    })

    $('.rec-fixed-box .b .closebtn').on('click', function(){
        $('.rec-fixed-box').css('display','none');
        $('.navbg').css('display','none');
    })
</script>
</body>
</html>